@(name: String)
<section id="main-content">
    <section class="wrapper">
        <!--state overview start-->
        <div class="row state-overview">
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="value">
                        <h1 class="count">
                            0
                        </h1>
                        <p>Weighed</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol red">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count2">
                            0
                        </h1>
                        <p>Severly</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol yellow">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count3">
                            0
                        </h1>
                        <p>Moderate</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol blue">
                        <i class="fa fa-user    "></i>
                    </div>
                    <div class="value">
                        <h1 class=" count4">
                            0
                        </h1>
                        <p>Normal</p>
                    </div>
                </section>
            </div>
        </div>
        <!--state overview end-->

        <!-- page start-->
        <div class="tab-pane" id="chartjs">
            <div class="row">
                <div class="col-lg-3">
                    <section class="panel">
                        <header class="panel-heading">
                            Gender
                        </header>
                        <div class="panel-body text-center">
                            <canvas id="doughnut" height="300" width="200"></canvas>
                        </div>
                    </section>
                </div>
                <div class="col-lg-5">
                    <section class="panel">
                        <header class="panel-heading">
                            Month
                        </header>
                        <div class="panel-body text-center">
                            <canvas id="bar" height="300" width="400"></canvas>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            Age
                        </header>
                        <div class="panel-body text-center">
                            <canvas id="polarArea" height="300" width="330"></canvas>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </section>
</section>
