<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    0
                </h1>
                <p><label class="count-label">Weighed</label></p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class=" count2">
                    0
                </h1>
                <p><label class="count-label">Severly</label></p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class=" count3">
                    0
                </h1>
                <p><label class="count-label">Moderate</label></p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol green">
                <i class="fa fa-user    "></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                    0
                </h1>
                <p><label class="count-label">Normal</label></p>
            </div>
        </section>
    </div>
</div>