@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Dashboard for Aanganwadi">
        <meta name="author" content="Combinators">
        <meta http-equiv="refresh" content="10">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="assets/stylesheets/bootstrap-reset.css">
        <link href="assets/stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css" type="text/css">
        <link rel="stylesheet" media="screen" href="assets/stylesheets/slidebars.css">
        <link rel="stylesheet" media="screen" href="assets/stylesheets/style.css">
        <link rel="stylesheet" href="assets/stylesheets/style-responsive.css" >
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/javascripts/html5shiv.js"></script>
        <script src="assets/javascripts/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>

    <section id="container" >
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <i class="fa fa-bars"></i>
            </div>
            <!--logo start-->
            <a href="/" class="logo">EPGM</span></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-warning">3</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow">You have 3 new notifications</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    Child is added.
                                    <span class="small italic">Normal</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    Child is added.
                                    <span class="small italic">Severe</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    Child is added.
                                    <span class="small italic">Normal</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="@routes.HomeController.index">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="@routes.GmrController.displayGMR" >
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>GMR</span>
                        </a>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!--state overview start-->
                <div class="row state-overview">
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol blue">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="value">
                                <h1 class="count">
                                    0
                                </h1>
                                <p>Weighed</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol red">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="value">
                                <h1 class=" count2">
                                    0
                                </h1>
                                <p>Severly</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol yellow">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="value">
                                <h1 class=" count3">
                                    0
                                </h1>
                                <p>Moderate</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol green">
                                <i class="fa fa-user    "></i>
                            </div>
                            <div class="value">
                                <h1 class=" count4">
                                    0
                                </h1>
                                <p>Normal</p>
                            </div>
                        </section>
                    </div>
                </div>
                <!--state overview end-->

                <!-- page start-->
                <div class="tab-pane" id="chartjs">
                    <div class="row">
                        <div class="col-lg-3">
                            <section class="panel">
                                <header class="panel-heading">
                                    Gender Wise
                                </header>
                                <div class="panel-body text-center">
                                    <canvas id="doughnut" height="300" width="200"></canvas>
                                    <span class="label label-male">Male</span>
                                    <span class="label label-female">Female</span>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-5">
                            <section class="panel">
                                <header class="panel-heading">
                                    Month Wise
                                </header>
                                <div class="panel-body text-center">
                                    <canvas id="bar" height="300" width="400"></canvas>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-4">
                            <section class="panel">
                                <header class="panel-heading">
                                    Age Group Wise
                                </header>
                                <div class="panel-body text-center">
                                    <canvas id="polarArea" height="300" width="330"></canvas>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
                <!-- page end-->

        <!--main content end-->

        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2017 &copy; EPGM by Sthapana.
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
        </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/javascripts/jquery.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/javascripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/javascripts/jquery.scrollTo.min.js"></script>
    <script src="assets/javascripts/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/javascripts/jquery.sparkline.js" type="text/javascript"></script>
    <script src="assets/javascripts/jquery.easy-pie-chart.js"></script>
    <script src="assets/javascripts/owl.carousel.js" ></script>
    <script src="assets/javascripts/jquery.customSelect.min.js" ></script>
    <script src="assets/javascripts/respond.min.js" ></script>
    <script src="assets/javascripts/Chart.js"></script>

    <!--right slidebar-->
    <script src="assets/javascripts/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="assets/javascripts/common-scripts.js"></script>

    <!--script for this page-->
    <script src="assets/javascripts/sparkline-chart.js"></script>
    <script src="assets/javascripts/easy-pie-chart.js"></script>
    <script src="assets/javascripts/dashboard-reports.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>

      //owl carousel

      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true,
			  autoPlay:true

          });
      });

      //custom select box

      function displayDashboard() {
            return
        }

      $(function(){
          $('select.styled').customSelect();
      });

      $(window).on("resize",function(){
          var owl = $("#owl-demo").data("owlCarousel");
          owl.reinit();
      });

  </script>

    </body>
</html>
